/* inder-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    src:url('../assets/fonts/inder-v14-latin-regular.woff2') format('woff2')
}
/* inter */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2')
}

/* variables */
:root{
    --main-white: #FFFFFE;
    --second-white: #ebe5e5;
    --main-red: #C41B18;
    /* --main-red: #C41B18; */
    /* --secondary-red: #B01917; */
    --secondary-red: #B51A17;
    /* --secondary-red: #E22824; */
    --olive-green: #91962A;
    --main-black: #030303;
    --sec-black: #111111;
    --opacity-black: #030303a1;
    --disactive-gray: #7B7B7B;
    --gray: #afafac;
    --inter:'Inter', 'sans-serif';
    --inder:'Inder', 'sans-serif';
}